{
    "commands": {
        "start_mongo": {
            "command": "mongod -f /etc/mongod.conf &"
        }
    },
    "files": {
        "/opt/elasticbeanstalk/env.vars": {
            "groups": "user",
            "mode": "000775",
            "owner": "root",
            "source": "https://raw.githubusercontent.com/clue42/aws-mean-eb/master/env.vars"
        },
        "/opt/elasticbeanstalk/hooks/appdeploy/post/70_install_build.sh": {
            "group": "users",
            "mode": "000775",
            "owner": "root",
            "source": "https://raw.githubusercontent.com/clue42/aws-mean-eb/master/70_install_build.sh"
        }
    },
    "option_settings": [
        {
            "option_name": "NODE_ENV",
            "value": "development"
        },
        {
            "namespace": "aws:elasticbeanstalk:container:nodejs",
            "option_name": "NodeVersion",
            "value": "0.10.31"
        }
    ],
    "packages": {
        "rpm": {
            "mongodb-org-server": "http://downloads-distro.mongodb.org/repo/redhat/os/x86_64/RPMS/mongodb-org-server-2.6.7-1.x86_64.rpm",
            "mongodb-org-shell": "http://downloads-distro.mongodb.org/repo/redhat/os/x86_64/RPMS/mongodb-org-shell-2.6.7-1.x86_64.rpm",
            "mongodb-org-tools": "http://downloads-distro.mongodb.org/repo/redhat/os/x86_64/RPMS/mongodb-org-tools-2.6.7-1.x86_64.rpm"
        },
        "yum": {
            "git": []
        }
    }
}
